<a href="https://colab.research.google.com/github/collinscolour/GoMyCodeCheckPoint/blob/main/DataframeFilteringandSelection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


In this exercise, you will work with a dataset called "employee info" that contains information about employees in a company. The dataset includes columns such as Name, Department, Age, Gender, Salary, and Experience.



Instructions
Create a dataframe called "employee_df" with the following data:

import pandas as pd

data = {'Name': ['John', 'Mary', 'Bob', 'Sarah', 'Tom', 'Lisa'], 'Department': ['IT', 'Marketing', 'Sales', 'IT', 'Finance', 'Marketing'], 'Age': [30, 40, 25, 35, 45, 28], 'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'], 'Salary': [50000, 60000, 45000, 55000, 70000, 55000], 'Experience': [3, 7, 2, 5, 10, 4]}

 employee_df = pd.DataFrame(data)





Use the iloc method to select the first 3 rows of the dataframe.
Use the loc method to select all rows where the Department is "Marketing".
Use the iloc method to select the Age and Gender columns for the first 4 rows of the dataframe.
Use the loc method to select the Salary and Experience columns for all rows where the Gender is "Male".
Note:

iloc is used for selection by index location
loc is used for selection by label.

In [2]:
import pandas as pd

data = {'Name': ['John', 'Mary', 'Bob', 'Sarah', 'Tom', 'Lisa'],
        'Department': ['IT', 'Marketing', 'Sales', 'IT', 'Finance', 'Marketing'],
        'Age': [30, 40, 25, 35, 45, 28],
        'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
        'Salary': [50000, 60000, 45000, 55000, 70000, 55000],
        'Experience': [3, 7, 2, 5, 10, 4]}

employee_df = pd.DataFrame(data)

# Select the first 3 rows using iloc
x = employee_df.iloc[:3]

# Select all rows where Department is "Marketing" using loc
y = employee_df.loc[employee_df['Department'] == 'Marketing']

# Select Age and Gender columns for the first 4 rows using iloc
age = employee_df.iloc[:4, 2:4]

# Select Salary and Experience columns for all rows where Gender is "Male" using loc
salary = employee_df.loc[employee_df['Gender'] == 'Male', ['Salary', 'Experience']]

print(x)
print(y)
print(age)
print(salary)

   Name Department  Age  Gender  Salary  Experience
0  John         IT   30    Male   50000           3
1  Mary  Marketing   40  Female   60000           7
2   Bob      Sales   25    Male   45000           2
   Name Department  Age  Gender  Salary  Experience
1  Mary  Marketing   40  Female   60000           7
5  Lisa  Marketing   28  Female   55000           4
   Age  Gender
0   30    Male
1   40  Female
2   25    Male
3   35  Female
   Salary  Experience
0   50000           3
2   45000           2
4   70000          10