<a href="https://colab.research.google.com/github/collinscolour/GoMyCodeCheckPoint/blob/main/Data_pre_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this checkpoint, we are going to work on the billing history of the Tunisian electricity and gas company and apply what you learned in pre-processing chapter.

Dataset description :

The provided dataset contains the billing history of the Tunisian electricity and gas company's customers from 2005 to 2019.

➡️ Dataset link




Instructions
Load the dataset, display the ten first lines, store the results in a variable called 'client_0_bills'.


What is the data type of the 'client_0_bills' variable ?
Display the general information of the dataset and try to answer the following questions :


How many rows and columns do we have in this dataset ?
How many categorical features are present in the dataset ?
How much memory space does the dataset consume ?


Inspect the dataset for potential missing values.
Select your strategy to handle missing values, and tell us why you had made that choice.


Run a descriptive analysis on numeric features (columns).
Select the bills records for the client with an id ='train_Client_0', using 2 methods.


Transform the 'counter_type' feature to a numeric variable using the encoder of your choice.
Delete the 'counter_statue' feature from the Dataframe

In [1]:
#first import pandas
import pandas as pd

#import csv file
df= pd.read_csv('STEG_BILLING_HISTORY.csv')

#to get the first 10 rows
client_0_bills = df.head(10)
print(client_0_bills)

#to get the datatype
x = type(client_0_bills)
print(x)

        client_id invoice_date  tarif_type  counter_number  counter_statue  \
0  train_Client_0   2014-03-24          11       1335667.0               0
1  train_Client_0   2013-03-29          11       1335667.0               0
2  train_Client_0   2015-03-23          11       1335667.0               0
3  train_Client_0   2015-07-13          11       1335667.0               0
4  train_Client_0   2016-11-17          11       1335667.0               0
5  train_Client_0   2017-07-17          11       1335667.0               0
6  train_Client_0   2018-12-07          11       1335667.0               0
7  train_Client_0   2019-03-19          11       1335667.0               0
8  train_Client_0   2011-07-22          11       1335667.0               0
9  train_Client_0   2011-11-22          11       1335667.0               0

   counter_code  reading_remarque  counter_coefficient  consommation_level_1  \
0           203               8.0                    1                    82
1           203               6.0                    1                  1200
2           203               8.0                    1                   123
3           207               8.0                    1                   102
4           207               9.0                    1                   572
5           207               9.0                    1                   314
6           207               9.0                    1                   541
7           207               9.0                    1                   585
8           203               9.0                    1                  1200
9           203               6.0                    1                  1082

   consommation_level_2  consommation_level_3  consommation_level_4  \
0                     0                   0.0                   0.0
1                   184                   0.0                   0.0
2                     0                   0.0                   0.0
3                     0                   0.0                   0.0
4                     0                   0.0                   0.0
5                     0                   0.0                   0.0
6                     0                   0.0                   0.0
7                     0                   0.0                   0.0
8                   186                   0.0                   0.0
9                     0                   0.0                   0.0

   old_index  new_index  months_number counter_type
0    14302.0    14384.0            4.0         ELEC
1    12294.0    13678.0            4.0         ELEC
2    14624.0    14747.0            4.0         ELEC
3    14747.0    14849.0            4.0         ELEC
4    15066.0    15638.0           12.0         ELEC
5    15638.0    15952.0            8.0         ELEC
6    15952.0    16493.0           12.0         ELEC
7    16493.0    17078.0            8.0         ELEC
8     7770.0     9156.0            4.0         ELEC
9     9156.0    10238.0            4.0         ELEC
<class 'pandas.core.frame.DataFrame'>

In [2]:

# Get the number of rows and columns
num_rows = df.shape[0]
num_columns = df.shape[1]

print("Number of rows:", num_rows)
print("Number of columns:", num_columns)
col = len(df.columns)
print("Number of columns:", col)

ros = len(df)
print("Number of rows:", ros)

Number of rows: 115913
Number of columns: 16
Number of columns: 16
Number of rows: 115913

In [6]:
#find category featured
categ= df.select_dtypes(include=['object', 'category']).columns
total_categ = len(categ)
print('Total category featured:', total_categ)

#total size
size = df.memory_usage().sum()
print("Total memory usage:", size)

Total category featured: 3
Total memory usage: 14836992

In [7]:
print("Memory space:", df.memory_usage(deep=True).sum())

Memory space: 35651184

In [8]:
print("Missing values:", df.isnull().sum())

Missing values: client_id                 0
invoice_date              0
tarif_type                0
counter_number            2
counter_statue            0
counter_code              0
reading_remarque        100
counter_coefficient       0
consommation_level_1      0
consommation_level_2      0
consommation_level_3      1
consommation_level_4      1
old_index                 1
new_index                 1
months_number             1
counter_type              1
dtype: int64

In [9]:
print(df.describe(include='number'))

          tarif_type  counter_number  counter_statue   counter_code  \
count  115913.000000    1.159110e+05   115913.000000  115913.000000
mean       20.164969    9.714678e+10        0.040263     171.974809
std        13.484713    1.426992e+12        0.365032     133.565817
min         9.000000    0.000000e+00        0.000000       5.000000
25%        11.000000    1.230330e+05        0.000000       5.000000
50%        11.000000    5.109530e+05        0.000000     203.000000
75%        40.000000    1.152489e+06        0.000000     207.000000
max        45.000000    2.738110e+13        5.000000     506.000000

       reading_remarque  counter_coefficient  consommation_level_1  \
count     115813.000000             115913.0         115913.000000
mean           7.316605                  1.0            407.633165
std            1.360077                  0.0            640.797483
min            6.000000                  1.0              0.000000
25%            6.000000                  1.0             75.000000
50%            6.000000                  1.0            267.000000
75%            9.000000                  1.0            600.000000
max            9.000000                  1.0          93385.000000

       consommation_level_2  consommation_level_3  consommation_level_4  \
count         115913.000000         115912.000000         115912.000000
mean              99.670460             22.276339             43.626812
std              721.187182            331.100022            610.227606
min                0.000000              0.000000              0.000000
25%                0.000000              0.000000              0.000000
50%                0.000000              0.000000              0.000000
75%                0.000000              0.000000              0.000000
max            99398.000000          45360.000000          87776.000000

           old_index      new_index  months_number
count  115912.000000  115912.000000  115912.000000
mean    17041.599274   17626.068026      53.453818
std     37291.562920   37733.057872    1568.682576
min         0.000000       0.000000       1.000000
25%      1738.000000    2026.000000       4.000000
50%      7495.500000    8014.500000       4.000000
75%     21137.000000   21864.250000       4.000000
max    867253.000000  877022.000000   99104.000000

In [10]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df['counter_type_encoded'] = encoder.fit_transform(df['counter_type'])

In [11]:
df.drop(columns=['counter_statue'], inplace=True)

In [12]:
df

,client_id,invoice_date,tarif_type,counter_number,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type,counter_type_encoded
0,train_Client_0,2014-03-24,11,1335667.0,203,8.0,1,82,0,0.0,0.0,14302.0,14384.0,4.0,ELEC,0
1,train_Client_0,2013-03-29,11,1335667.0,203,6.0,1,1200,184,0.0,0.0,12294.0,13678.0,4.0,ELEC,0
2,train_Client_0,2015-03-23,11,1335667.0,203,8.0,1,123,0,0.0,0.0,14624.0,14747.0,4.0,ELEC,0
3,train_Client_0,2015-07-13,11,1335667.0,207,8.0,1,102,0,0.0,0.0,14747.0,14849.0,4.0,ELEC,0
4,train_Client_0,2016-11-17,11,1335667.0,207,9.0,1,572,0,0.0,0.0,15066.0,15638.0,12.0,ELEC,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115908,train_Client_103130,2010-10-06,40,70606.0,5,6.0,1,441,0,0.0,0.0,8901.0,9342.0,4.0,GAZ,1
115909,train_Client_103130,2019-07-02,11,95446.0,420,9.0,1,1600,800,138.0,0.0,41036.0,43574.0,8.0,ELEC,0
115910,train_Client_103130,2018-06-02,40,70606.0,5,9.0,1,150,0,0.0,0.0,14714.0,14864.0,4.0,GAZ,1
115911,train_Client_103130,2018-06-02,11,95446.0,420,9.0,1,362,0,0.0,0.0,40071.0,40433.0,4.0,ELEC,0
115912,train_Client_103130,2017-06-10,40,70606.0,5,9.0,1,826,0,NaN,NaN,NaN,NaN,NaN,NaN,2