<a href="https://colab.research.google.com/github/collinscolour/GoMyCodeCheckPoint/blob/main/learnig.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,3):
  print("a",i)
  for x in range(1,3):
    print("b",x)
  for y in range(1,3):
    print("c",y)

a 1
b 1
b 2
c 1
c 2
a 2
b 1
b 2
c 1
c 2

In [ ]:
def x():
  for i in range(1,11,2):
    print(i)
x()

1
3
5
7
9

In [ ]:
print('welcome')
x= input('what city did you grow up ?')
y= input('what the name of your pet ?')
i = x + y
print (i)
print(x + "\n" +y)

welcome
what city did you grow up ?hj
what the name of your pet ?jj
hjjj
hj
jj

In [ ]:
x= input('ist number ? ')
a= int(x[0])
b= int(x[1])
c= int(x[2])
i =  a + b + c
print(i)

ist number ? 222
6

In [ ]:
my_list = [['python', 'java'],['sql', 'r'], ['sas', 'c++'], ['php', 'html']]

print(my_list[2][1][1:])

++

In [ ]:
my_list = [['python', 'java'],['sql', 'r'], ['sas', 'c++'], ['php', 'html']]
my_list0 = my_list[2]
print(my_list0)
my_list1 = my_list0[1]
print(my_list1)
my_list2= my_list1[-2:]
print(my_list2)

['sas', 'c++']
c++
++

In [ ]:
my_list = [['python', 'java'],['sql', 'r'], ['sas', 'c++'], ['php', 'html']]
print(my_list[3][1][-3:-1])
print(my_list[3][1][1:3])

tm
tm

In [ ]:
def a():
  lis = [3,4,3,6]
  return sum(set(lis))
a()

13

In [ ]:
x =0
for i in range(2,11,2):
  print(i)

In [ ]:
x= lambda a,b,c : a+b+c
print(x(2,4,1))

7

In [ ]:
years= lambda ch : ch[:4]
ch = '20200310'
print(years(ch))

2020

In [ ]:
i= lambda doublenumber : doublenumber*doublenumber
doublenumber= 5
print(i(doublenumber))

25

In [ ]:
i= lambda doublenumber : doublenumber*doublenumber
doublenumber= int(input("enter number"))
print(i(doublenumber))

enter number3
9

In [23]:
number = [1,2,3,4,5]
i= map(lambda doublenumber : doublenumber*doublenumber, number)

i = list(i)
print(i)
print(type(i))

a=set(i)
print(type(a))
print(a)

[1, 4, 9, 16, 25]
<class 'list'>
<class 'set'>
{1, 4, 9, 16, 25}

In [ ]:
liste=[22, 16.5, 18]
i = lambda d : (9 / 5)*d + 32
y = map(i , liste)
print(list(y))

[71.6, 61.7, 64.4]

In [6]:
class Student:
  def __init__(self, fname, lname, school_name):
    self.fname= fname
    self.lname= lname
    self.school_name= school_name
    self.email= lname + '_' + fname + '@' + school_name +'.com'

  def students(self):
    return f'{self.fname}'



stud_1 = Student('chuma', 'collins', 'GoMyCode')
stud_2 = Student('lee', 'jack', 'GoMyCode')
stud_3 = Student('121', 'badoo', 'GoMyCode')

print(stud_1)
print(stud_2.email)
print(stud_3.email)

stud_1.students()

<__main__.Student object at 0x79e2d11d1360>
jack_lee@GoMyCode.com
badoo_121@GoMyCode.com

'chuma'

using class variable

In [34]:
class Student:
  school_fees_raise = 1.05
  def __init__(self, fname, lname, school_name, school_fees):
    self.fname= fname
    self.lname= lname
    self.school_name= school_name
    self.school_fees = school_fees
    self.email= lname + '_' + fname + '@' + school_name +'.com'

  def students_attendance(self):
    return f'{self.fname, self.email}'

  def student_fees_raise(self):
    school_fees_raise = int(self.school_fees * self.school_fees_raise)
    return school_fees_raise




stud_1 = Student('chuma', 'collins', 'GoMyCode', 2000)
stud_2 = Student('lee', 'jack', 'GoMyCode', 4000)
stud_3 = Student('121', 'badoo', 'GoMyCode', 7000)

print(stud_3.student_fees_raise())
print (Student.student_fees_raise(stud_2))

7350
4200