<a href="https://colab.research.google.com/github/collinscolour/GoMyCodeCheckPoint/blob/main/ydata_profiling_checkpoint__2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this checkpoint, we are going to work on 'The Tunisian flight company: Tunisair' dataset.

Dataset description : This dataset include historical data of flight delays. the objective is to investigate the flight delays factors.

➡️ Dataset link




Instructions
Part 1: Data Exploration with Pandas
Load the provided dataset into a pandas dataframe
Use pandas to explore the dataset. For example, you might start by using the head() and info() methods to get an overview of the data.
Look for missing values in the dataset. You can use the isnull() method to identify missing values.


Use pandas to calculate some summary statistics for the dataset. For example, you might use the describe() method to get summary statistics for the numerical columns in the dataset.


Part 2: Data Exploration with ydata-Profiling
Use ydata-profiling to generate a report of the provided dataset.
Look for missing values in the dataset. You can use the report generated by ydata-profiling to identify missing values.
Look for correlations between different columns in the dataset. You can use the report generated by ydata-profiling to identify correlations between different columns.


Identify any outliers or unusual values in the dataset. You can use the report generated by ydata-profiling to identify any outliers or unusual values.
Summary


At the end of this exercise, write a summary of your findings. Did you find any interesting patterns or correlations in the data? Were there any issues or challenges you encountered while exploring the dataset? Use your summary to reflect on your experience using pandas and ydata-profiling to explore and understand a new dataset.

In [5]:
#first import pandas
import pandas as pd

#import csv file
df= pd.read_csv('Tunisair_flights_dataset.csv')

# the head function
print(df.head())

  Filght_date Flight_ID Departure point Arrival point  \
0  2016-01-03  TU 0712              CMN           TUN
1  2016-01-13  TU 0757              MXP           TUN
2  2016-01-16  TU 0214              TUN           IST
3  2016-01-17  TU 0480              DJE           NTE
4  2016-01-17  TU 0338              TUN           ALG

  Scheduled_departure_time Scheduled_arrival_time STATUS Aircraft_code  \
0      2016-01-03 10:30:00    2016-01-03 12.55.00    ATA     TU 32AIMN
1      2016-01-13 15:05:00    2016-01-13 16.55.00    ATA     TU 31BIMO
2      2016-01-16 04:10:00    2016-01-16 06.45.00    ATA     TU 32AIMN
3      2016-01-17 14:10:00    2016-01-17 17.00.00    ATA     TU 736IOK
4      2016-01-17 14:30:00    2016-01-17 15.50.00    ATA     TU 320IMU

   Arrival delay
0          260.0
1           20.0
2            0.0
3            0.0
4           22.0

In [6]:
# the info function
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107833 entries, 0 to 107832
Data columns (total 9 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Filght_date               107833 non-null  object
 1   Flight_ID                 107833 non-null  object
 2   Departure point           107833 non-null  object
 3   Arrival point             107833 non-null  object
 4   Scheduled_departure_time  107833 non-null  object
 5   Scheduled_arrival_time    107833 non-null  object
 6   STATUS                    107833 non-null  object
 7   Aircraft_code             107833 non-null  object
 8   Arrival delay             107833 non-null  float64
dtypes: float64(1), object(8)
memory usage: 7.4+ MB
None

In [10]:
# the fine missing value with  function

print(df.isnull())

        Filght_date  Flight_ID  Departure point  Arrival point  \
0             False      False            False          False
1             False      False            False          False
2             False      False            False          False
3             False      False            False          False
4             False      False            False          False
...             ...        ...              ...            ...
107828        False      False            False          False
107829        False      False            False          False
107830        False      False            False          False
107831        False      False            False          False
107832        False      False            False          False

        Scheduled_departure_time  Scheduled_arrival_time  STATUS  \
0                          False                   False   False
1                          False                   False   False
2                          False                   False   False
3                          False                   False   False
4                          False                   False   False
...                          ...                     ...     ...
107828                     False                   False   False
107829                     False                   False   False
107830                     False                   False   False
107831                     False                   False   False
107832                     False                   False   False

        Aircraft_code  Arrival delay
0               False          False
1               False          False
2               False          False
3               False          False
4               False          False
...               ...            ...
107828          False          False
107829          False          False
107830          False          False
107831          False          False
107832          False          False

[107833 rows x 9 columns]

In [9]:
# the summary_stats using describe method
print(df.describe())

       Arrival delay
count  107833.000000
mean       48.733013
std       117.135562
min         0.000000
25%         0.000000
50%        14.000000
75%        43.000000
max      3451.000000